@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Jua&family=Patrick+Hand&display=swap');

/* Background	Cloud White	#FDFEFF
Secondary Background	Sky Mist	#F4FAFF
Primary Accent	Cinnamoroll Blue	#9FD8FF
Secondary Accent	Soft Blue	#CDEEFF
Cute Accent	Baby Pink	#FFDCE8
Highlight	Cream	#FFF7E8
Main Text	Dark Slate	#38475A
Secondary Text	Gray Blue	#6D7C8F
Button Hover	Slightly Deeper Blue	#7FC8F8 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { display: block; }

:root {
    /* Typography */
    --HEADER-FF: "Fredoka", sans-serif;
    --BODY-FF: "Patrick Hand", cursive;
    --TITLE-FF: "Jua", sans-serif;

    /* Colors */
    --BGCOLOR-PRIMARY: #FDFEFF;
    --BGCOLOR-SECONDARY-1: #ff9b9b;
    --BGCOLOR-SECONDARY-2: #ff5858;
    --TEXTCOLOR-HEADER: #38475A;
    --TEXTCOLOR-BODY: #6D7C8F;

    --COUNTDOWN-H: 3rem;
    --COUNTDOWN-COLOR-1: #ff5858;
    --COUNTDOWN-COLOR-2: #ffc8c8;
    --COUNTDOWN-COLOR-3: #F6D5F7;
    --COUNTDOWN-COLOR-4: #FBE9D7;
}

html {
    font: 1rem var(--BODY-FF);
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background-color: var(--BGCOLOR-PRIMARY);
}

header {
    padding: 1em 0.5em;

    background-color:#F4FAFF78;
    background-image: url('../img/non-gif/Lablab\ -\ Header.webp');
    background-size: cover;
    background-position: center top;

    height: 100vh;

    position: relative;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

main,
footer {
    display: flex;
    flex-flow: column nowrap;
}

footer {
    flex-grow: auto;
}rgb(236, 183, 183),

main {
    flex-grow: 10;
}

h1,
h2,
h3 {
    font-family: var(--HEADER-FF);
    color: var(--TEXTCOLOR-HEADER);
    user-select: none;
    -webkit-user-drag: none;
}

.title {
    font: 2em var(--TITLE-FF);
    font-weight: bold;
    color: black;
}

.background-translucent {
    background: radial-gradient(var(--BGCOLOR-SECONDARY-1), var(--BGCOLOR-SECONDARY-2));
    opacity: 31.25%;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    z-index: -1;
}

.countdown {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--COUNTDOWN-H);

    background: linear-gradient(to right, var(--COUNTDOWN-COLOR-1), var(--COUNTDOWN-COLOR-2), var(--COUNTDOWN-COLOR-3), var(--COUNTDOWN-COLOR-4));
}