@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Jua&family=Patrick+Hand&display=swap');

/* Background	Cloud White	#FDFEFF
Secondary Background	Sky Mist	#F4FAFF
Primary Accent	Cinnamoroll Blue	#9FD8FF
Secondary Accent	Soft Blue	#CDEEFF
Cute Accent	Baby Pink	#FFDCE8
Highlight	Cream	#FFF7E8
Main Text	Dark Slate	#38475A
Secondary Text	Gray Blue	#6D7C8F
Button Hover	Slightly Deeper Blue	#7FC8F8 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { display: block; }

:root {
    /* Typography */
    --HEADER-FF: "Fredoka", sans-serif;
    --BODY-FF: "Patrick Hand", cursive;
    --TITLE-FF: "Jua", sans-serif;

    /* Colors */
    --BGCOLOR-PRIMARY: #FDFEFF;
    --BGCOLOR-SECONDARY-1: #ede342;
    --BGCOLOR-SECONDARY-2: #ff51eb;
    --TEXTCOLOR-HEADER: #38475A;
    --TEXTCOLOR-BODY: #6D7C8F;

    /* Countdown Banner settings */
    --COUNTDOWN-H: 3.5rem;
    --COUNTDOWN-COLOR-1: #ff5858;
    --COUNTDOWN-COLOR-2: #ffc8c8;
    --COUNTDOWN-COLOR-3: #F6D5F7;
    --COUNTDOWN-COLOR-4: #FBE9D7;

    /* Main Container */
    --MAIN-TOP-RADIUS: 5rem;
    --MAIN-TOP-COVER: 10vh;
    --MAIN-TOP-BORDER-W: 12.5px;
}

html {
    font: 1rem var(--BODY-FF);
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background-color: var(--BGCOLOR-PRIMARY);
}

header {
    padding: 1em 0.5em;

    background-color:#F4FAFF78;
    background-image: url('../img/non-gif/Lablab\ -\ Header.webp');
    background-size: cover;
    background-repeat: repeat-x;

    height: 100vh;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: -1;

    animation: scrollBackground 40s linear infinite;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position-x: -1000%;
    }
}

/* Positioned here to only need to update the vars */
@media screen and (min-width: 640px) {
    /* :root {
        --MAIN-TOP-RADIUS: 4.5rem;
        --MAIN-TOP-COVER: 7.5vh;
    } */

    header {
        background-position: center center;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --MAIN-TOP-COVER: 20vh;
    }
}

main,
footer {
    display: flex;
    flex-flow: column nowrap;
}

footer {
    z-index: 1;
    position: static;

    /* TODO: Update this appropriately */
    background-color: black; 
    color: white;
}

main {
    padding-top: 5em;
    background-color: var(--BGCOLOR-PRIMARY);
    border-top: var(--MAIN-TOP-BORDER-W) solid var(--COUNTDOWN-COLOR-1);

    border-radius: var(--MAIN-TOP-RADIUS) var(--MAIN-TOP-RADIUS) 0 0;
    height: 100vh;
    width: 100%;

    position: relative;
    top: calc(var(--MAIN-TOP-COVER) * -1);
}

h1,
h2,
h3 {
    font-family: var(--HEADER-FF);
    color: var(--TEXTCOLOR-HEADER);
    user-select: none;
    -webkit-user-drag: none;
}

.title-group {
    margin-top: var(--COUNTDOWN-H);
    width: 100%;
    height: calc(inherit - var(--COUNTDOWN-H));
    padding: 0.5em 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    flex: auto;
}

.title {
    font: 2em var(--TITLE-FF);
    font-weight: bold;
    color: black;
}

.background-translucent {
    background: radial-gradient(var(--BGCOLOR-SECONDARY-1), var(--BGCOLOR-SECONDARY-2));
    opacity: 31.25%;

    position: absolute;
    top: 0;
    left: 0;

    height: inherit;
    width: 100%;
    z-index: -1;
}

.countdown {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

    width: 100%;
    height: var(--COUNTDOWN-H);

    background: linear-gradient(to right, var(--COUNTDOWN-COLOR-1), var(--COUNTDOWN-COLOR-2), var(--COUNTDOWN-COLOR-3), var(--COUNTDOWN-COLOR-4));
    border-bottom: 0.25px solid white;
}

.dance {
    width: auto;
    height: 4rem;
}

.title-message {
    align-self: center;
    flex-grow: 2;
}

